.form-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row-button {
  display: flex;
  justify-content: center;
  gap: 30px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    text-align: center;

    button,
    a {
      margin: 0 auto;
    }
  }
}
