.party {
  height: 100vh;
  background-image: url('../public/images/wallpaper-party.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.ingredients-block {
  position: absolute;
  padding: 10px 20px;
  column-count: 2;
}

.party__potion-name {
  --width: 30vw;

  position: fixed;
  top: 10px;
  left: calc(50vw - (var(--width) / 2));
  background: url('/images/carte.png');
  background-size: cover;
  padding: 35px 10px 20px 10px;
  width: var(--width);
  text-align: center;

  p {
    margin-top: 10px;
    span {
      color: rgb(114, 67, 175);
    }
  }
}

.drop-block {
  --size: 400px;

  position: fixed;
  top: calc(60% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);

  width: var(--size);
  height: var(--size);
  user-select: none;

  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    max-width: 100%;
  }
}

.draggable-ingredient {
  --icon-size: 20px;
  --img-size: 60px;
  --green: rgba(63, 169, 63, 1);
  --red: rgb(232, 54, 54);

  position: relative;
  cursor: pointer;
  width: var(--img-size);
  height: var(--img-size);
  padding: 10px;
  border-radius: 50px;
  margin: 10px auto;
  background-color: $black;
  user-select: none;

  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

    width: var(--img-size);
    display: block;
    margin: 0 auto;
  }

  &.not-droppable {
    background-color: var(--red);
    color: white;
  }

  .draggable-ingredient__icon {
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    right: calc(-1 * (var(--icon-size) / 10));
    bottom: calc(-1 * (var(--icon-size) / 10));
    transition: all 0.1s ease-in-out;
    opacity: 0;

    svg * {
      fill: var(--green);
    }
  }

  &.droppable {
    background-color: var(--green);
    color: white;

    .draggable-ingredient__icon {
      opacity: 1;
    }
  }
}

.party-finish {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: white;

  h2 {
    font-size: 40px;
    transform: translateY(40vh);
  }

  .party-finish__text {
    font-size: 30px;
    transform: translateY(40vh);

    &.lose {
      color: $red;
    }

    &.win {
      color: $green;
    }
  }
}
