.partyHeader {
  display: flex;
  justify-content: space-between;

  .partyHeader__right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .partyHeader__logo {
      height: 48px;
      width: 48px;
      background-color: orange;
      border-radius: $border-radius-8;
    }
  }


}