.join {
  height: 100vh;
  background-image: url('../public/images/wallpaper-choice.png');
  background-size: cover;
  background-repeat: no-repeat;

  &-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

    &-top {
      position: relative;

      display: flex;
      justify-content: center;
      &-back {
        position: absolute;
        left: 20%;
        top: -100%;

        --size: 40px;
        width: var(--size);
        height: var(--size);

        z-index: 999;

        cursor: pointer;

        @media screen and (max-width: 768px) {
          left: unset;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-title {
        display: inline-flex;
        justify-content: center;
        position: relative;
        z-index: 20;

        @media screen and (max-width: 1024px) {
          h3 {
            font-size: 35px;
          }
        }

        @media screen and (max-width: 768px) {
          h3 {
            font-size: 30px;
          }
        }

        .text-blur {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, -0%);
          filter: blur(10px);
          animation: ligth 2s infinite;
          display: flex;
          justify-content: center;
        }
      }
    }

    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 20;

      margin-top: 40px;

      &-params {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 40px 0;

        @media screen and (max-width: 768px) {
          grid-template-columns: repeat(1, 1fr);
        }

        &.odd {
          > div:last-of-type {
            grid-column: 1/3;

            @media screen and (max-width: 768px) {
              grid-column: unset;
            }
          }
        }

        > div {
          margin: 0 auto;
        }

        label {
          color: white;
          text-align: center;
          display: block;
        }

        input {
          margin-top: 10px;
        }
      }

      &-crown {
        --icon-size: 13px;

        li {
          position: relative;

          svg {
            position: absolute;
            height: var(--icon-size);
            width: var(--icon-size);
            left: calc(-1 * (var(--icon-size) + 6px));
            top: 0;

            * {
              fill: yellow;
            }
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 20px;

        @media screen and (max-width: 768px) {
          label {
            display: block;
            text-align: center;
          }
        }

        input {
          margin-left: 10px;

          @media screen and (max-width: 768px) {
            margin-top: 10px;
          }
        }
        a {
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
