.join {
  height: 100vh;
  background-image: url('../public/images/wallpaper-choice.png');
  background-size: cover;
  background-repeat: no-repeat;
  animation: apear 2s;
  background-position: center center;

  &-container {
    --padding-top: 90px;

    position: absolute;
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: rgba(217, 217, 217, 0.08);
    box-shadow: inset 67px -67px 67px rgba(165, 165, 165, 0.1),
      inset -67px 67px 67px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--padding-top);
    border-radius: 20px;

    &-back {
      position: absolute;
      --size: 40px;
      width: var(--size);
      height: var(--size);
      top: calc(var(--padding-top) - 20px);
      left: 5%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-user {
      position: absolute;

      right: 5%;
      top: var(--padding-top);

      display: flex;
      align-items: center;

      &-image {
        width: 60px;
        height: 60px;
        margin-right: 20px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &-title {
      display: inline-flex;
      justify-content: center;
      position: relative;
      z-index: 20;

      span {
        transform: scale(0.5);
      }
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 20;

      margin-top: 40px;

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 20px;

        input {
          margin-left: 10px;
        }
        a {
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
