.join {
  height: 100vh;
  background-image: url('../public/images/wallpaper-choice.png');
  background-size: cover;
  background-repeat: no-repeat;
  animation: apear 2s;

  &-container {
    --padding-top: 90px;

    position: absolute;
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 50px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--padding-top);
    border-radius: 20px;

    &-top {
      display: flex;
      justify-content: space-between;
      &-back {
        --size: 40px;
        width: var(--size);
        height: var(--size);
        top: var(--padding-top);

        z-index: 999;

        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-user {
        top: var(--padding-top);

        display: flex;
        align-items: center;

        &-image {
          width: 60px;
          height: 60px;
          margin-right: 20px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      &-title {
        display: inline-flex;
        justify-content: center;

        span {
          transform: scale(0.5);
        }
      }
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 20;

      margin-top: 40px;

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 20px;

        input {
          margin-left: 10px;
        }
        a {
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
