.join {
  height: 100vh;
  background-image: url('../public/images/wallpaper-choice.png');
  background-size: cover;
  background-repeat: no-repeat;

  &-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

    &-top {
      position: relative;

      display: flex;
      justify-content: center;
      &-back {
        position: absolute;
        left: 20%;
        top: -100%;

        --size: 40px;
        width: var(--size);
        height: var(--size);

        z-index: 999;

        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-title {
        display: inline-flex;
        justify-content: center;
        position: relative;
        z-index: 20;

        .text-blur {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, -0%);
          filter: blur(10px);
          animation: ligth 2s infinite;
          display: flex;
          justify-content: center;
        }
      }
    }

    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 20;

      margin-top: 40px;

      &-crown {
        --icon-size: 13px;

        li {
          position: relative;

          svg {
            position: absolute;
            height: var(--icon-size);
            width: var(--icon-size);
            left: calc(-1 * (var(--icon-size) + 6px));
            top: 0;

            * {
              fill: yellow;
            }
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 20px;

        input {
          margin-left: 10px;
        }
        a {
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
