$colors: (
  'yellow': $yellow,
  'green': $green,
  'white': $white,
  'black': $black,
  'red': $red,
);

.btn-reset {
  background-color: transparent;
  border: none;
  padding: 7px 16px;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
}

@each $colorName, $color in $colors {
  .btn-#{$colorName} {
    color: $color;
    background-color: transparent;
    border: 2px solid $color;
    @extend .text-Harry;
    border-radius: 2px;
    font-size: 20px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    position: relative;

    &-plain {
      @extend .btn-#{$colorName};
      background-color: $color;
      color: $yellow;
    }

    &:hover {
      background-color: $color;
      color: $white;
    }
  }
}
