.login{
  height: 100vh;
  background-image: url("../public/images/wallpaper-login.png");
  background-size: cover;
  background-repeat: no-repeat;
  &-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    &-title{
      display: inline-flex;
      justify-content: center;
      position: relative;
      z-index: 20;
      .text-blur{
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%,-0%);
        filter: blur(10px);
        animation: ligth 2s infinite;
        display: flex;
        justify-content: center;
      }
    }
    &-form{
      display: flex;
      justify-content: center;
      form{
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
    }
  }
}





@keyframes ligth {

  0% {
    opacity: 75%;
  }
  25% {
    opacity: 90%;
  }
  50% {
    opacity: 120%;
  }
  75% {
    opacity: 90%;
  }
  100% {
    opacity: 75%;
  }
}
