@font-face {
  font-family: "Crimes of Grindelwald";
  src: url('fonts/Crimes-of-Grindelwald.otf') format('opentype'),
}


@font-face {
  font-family: "ProzaLibre-Bold";
  src: url('fonts/ProzaLibre-Bold.ttf') format('truetype'),
}


@font-face {
  font-family: "ProzaLibre-ExtraBold";
  src: url('fonts/ProzaLibre-ExtraBold.ttf') format('truetype'),
}

@font-face {
  font-family: "ProzaLibre-Medium";
  src: url('fonts/ProzaLibre-Medium.ttf') format('truetype'),
}


@font-face {
  font-family: "ProzaLibre-Regular";
  src: url('fonts/ProzaLibre-Regular.ttf') format('truetype'),
}


@font-face {
  font-family: "ProzaLibre-SemiBold";
  src: url('fonts/ProzaLibre-SemiBold.ttf') format('truetype'),
}
