$sizes: ("100":100, "50" : 50, "40" : 40, "30" : 30, "20" : 20, "17" : 17 ,  "15" : 15);

@each $name, $size in $sizes {
  .text-#{$name} {
    font-size: #{$size}px;
    line-height: #{$size +5}px;
  }

}


$colors: ("yellow":$yellow, "green" : $green, "white" : $white , "black" : $black, "red" : $red);


@each $colorName, $color in $colors {
  .text-#{$colorName} {
    color: $color;
  }

}



$fonts: ("ChaparralPro":"Chaparral-Pro", "ProzaLibre-SemiBold": "ProzaLibre-SemiBold", "ProzaLibre-Regular" : "ProzaLibre-Regular", "ProzaLibre-Medium" : "ProzaLibre-Medium" , "ProzaLibre-ExtraBold" :"ProzaLibre-ExtraBold" , "ProzaLibre-Bold": "ProzaLibre-Bold");


@each $fontName, $font in $fonts {
  .text-#{$fontName} {
    font-family: $font;
  }

}

