.ingredients-block {
  position: absolute;
  background-color: rgba(165, 165, 165, 0.4);
  padding: 10px 20px;
}

.drop-block {
  --size: 200px;

  position: fixed;
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);

  width: var(--size);
  height: var(--size);
  background-color: red;
}

.draggable-ingredient {
  --icon-size: 20px;
  --green: rgba(63, 169, 63, 1);
  --red: rgb(232, 54, 54);

  background-color: white;
  position: relative;
  cursor: pointer;
  padding: 10px;
  border: 1px solid rgb(127, 127, 127);

  &.not-droppable {
    background-color: var(--red);
    color: white;
  }

  .draggable-ingredient__icon {
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    right: calc(-1 * (var(--icon-size) / 2));
    bottom: calc(-1 * (var(--icon-size) / 2));
    transition: all 0.1s ease-in-out;
    opacity: 0;

    svg * {
      fill: var(--green);
    }
  }

  &.droppable {
    background-color: var(--green);
    color: white;

    .draggable-ingredient__icon {
      opacity: 1;
    }
  }
}
