.ingredients-block {
  position: absolute;
  background-color: rgba(165, 165, 165, 0.4);
  padding: 10px 20px;
}

.drop-block {
  --size: 200px;

  position: fixed;
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);

  width: var(--size);
  height: var(--size);

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    max-width: 100%;
  }
}

.draggable-ingredient {
  --icon-size: 20px;
  --img-size: 60px;
  --green: rgba(63, 169, 63, 1);
  --red: rgb(232, 54, 54);

  position: relative;
  cursor: pointer;
  width: var(--img-size);
  height: var(--img-size);
  padding: 10px;
  border-radius: 50px;
  margin: 10px auto;

  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

    width: var(--img-size);
    display: block;
    margin: 0 auto;
  }

  &.not-droppable {
    background-color: var(--red);
    color: white;
  }

  .draggable-ingredient__icon {
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    right: calc(-1 * (var(--icon-size) / 2));
    bottom: calc(-1 * (var(--icon-size) / 2));
    transition: all 0.1s ease-in-out;
    opacity: 0;

    svg * {
      fill: var(--green);
    }
  }

  &.droppable {
    background-color: var(--green);
    color: white;

    .draggable-ingredient__icon {
      opacity: 1;
    }
  }
}
