.party-list {
  height: 100vh;
  background-image: url('../public/images/wallpaper-choice.png');
  background-size: cover;
  background-repeat: no-repeat;
  &-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    &-title {
      display: inline-flex;
      justify-content: center;
      position: relative;
      z-index: 20;
      .text-blur {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -0%);
        filter: blur(10px);
        animation: ligth 2s infinite;
        display: flex;
        justify-content: center;
      }
    }
    &-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }

  .party-container-list {
    color: white;
    margin: 0 auto;
    width: 50%;
    overflow-y: auto;
    height: 50vh;

    li {
      width: 100%;
      position: relative;

      &:not(:first-of-type) {
        margin-top: 25px;
      }

      a {
        position: absolute;
        right: 0;
      }
    }
  }
}
