@font-face {
  font-family: "Crimes of Grindelwald";
  src: url("fonts/Crimes of Grindelwald.otf") format("otf");
}
@font-face {
  font-family: "ProzaLibre-Bold";
  src: url("fonts/ProzaLibre-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "ProzaLibre-ExtraBold";
  src: url("fonts/ProzaLibre-ExtraBold.ttf") format("ttf");
}
@font-face {
  font-family: "ProzaLibre-Medium";
  src: url("fonts/ProzaLibre-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "ProzaLibre-Regular";
  src: url("fonts/ProzaLibre-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "ProzaLibre-SemiBold";
  src: url("fonts/ProzaLibre-SemiBold.ttf") format("ttf");
}
.text-100 {
  font-size: 100px;
  line-height: 105px;
}

.text-50 {
  font-size: 50px;
  line-height: 55px;
}

.text-40 {
  font-size: 40px;
  line-height: 45px;
}

.text-30 {
  font-size: 30px;
  line-height: 35px;
}

.text-20 {
  font-size: 20px;
  line-height: 25px;
}

.text-17 {
  font-size: 17px;
  line-height: 22px;
}

.text-15 {
  font-size: 15px;
  line-height: 20px;
}

.text-yellow {
  color: #F9C749;
}

.text-green {
  color: #2E8B57;
}

.text-white {
  color: #EFEFEF;
}

.text-black {
  color: #393737;
}

.text-red {
  color: #740001;
}

.text-ProzaLibre-SemiBold {
  font-family: "ProzaLibre-SemiBold";
}

.text-ProzaLibre-Regular {
  font-family: "ProzaLibre-Regular";
}

.text-ProzaLibre-Medium {
  font-family: "ProzaLibre-Medium";
}

.text-ProzaLibre-ExtraBold {
  font-family: "ProzaLibre-ExtraBold";
}

.text-ProzaLibre-Bold {
  font-family: "ProzaLibre-Bold";
}

.text-Harry, .btn-red, .btn-black, .btn-white, .btn-green, .btn-yellow {
  font-family: "Crimes of Grindelwald";
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#__next main {
  min-height: 100vh;
}

.ingredients-block {
  position: absolute;
  background-color: rgba(165, 165, 165, 0.4);
  padding: 10px 20px;
}

.drop-block {
  --size: 200px;
  position: fixed;
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
  width: var(--size);
  height: var(--size);
  background-color: red;
}

.draggable-ingredient {
  --icon-size: 20px;
  --green: rgba(63, 169, 63, 1);
  --red: rgb(232, 54, 54);
  background-color: white;
  position: relative;
  cursor: pointer;
  padding: 10px;
  border: 1px solid rgb(127, 127, 127);
}
.draggable-ingredient.not-droppable {
  background-color: var(--red);
  color: white;
}
.draggable-ingredient .draggable-ingredient__icon {
  position: absolute;
  height: var(--icon-size);
  width: var(--icon-size);
  right: calc(-1 * var(--icon-size) / 2);
  bottom: calc(-1 * var(--icon-size) / 2);
  transition: all 0.1s ease-in-out;
  opacity: 0;
}
.draggable-ingredient .draggable-ingredient__icon svg * {
  fill: var(--green);
}
.draggable-ingredient.droppable {
  background-color: var(--green);
  color: white;
}
.draggable-ingredient.droppable .draggable-ingredient__icon {
  opacity: 1;
}

.btn-reset {
  background-color: transparent;
  border: none;
  padding: 7px 16px;
}

.btn-yellow {
  color: #F9C749;
  background-color: transparent;
  border: 2px solid #F9C749;
  border-radius: 5px;
  font-size: 15px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.btn-yellow:hover {
  background-color: #F9C749;
  color: #EFEFEF;
}

.btn-green {
  color: #2E8B57;
  background-color: transparent;
  border: 2px solid #2E8B57;
  border-radius: 5px;
  font-size: 15px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.btn-green:hover {
  background-color: #2E8B57;
  color: #EFEFEF;
}

.btn-white {
  color: #EFEFEF;
  background-color: transparent;
  border: 2px solid #EFEFEF;
  border-radius: 5px;
  font-size: 15px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.btn-white:hover {
  background-color: #EFEFEF;
  color: #EFEFEF;
}

.btn-black {
  color: #393737;
  background-color: transparent;
  border: 2px solid #393737;
  border-radius: 5px;
  font-size: 15px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.btn-black:hover {
  background-color: #393737;
  color: #EFEFEF;
}

.btn-red {
  color: #740001;
  background-color: transparent;
  border: 2px solid #740001;
  border-radius: 5px;
  font-size: 15px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.btn-red:hover {
  background-color: #740001;
  color: #EFEFEF;
}

.home {
  height: 100vh;
  background-color: black;
}
.home-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.home-container-title {
  display: inline-flex;
  justify-content: center;
}
.home-container-description {
  display: flex;
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;
}
.home-container-button {
  display: flex;
  justify-content: center;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

/*# sourceMappingURL=global.css.map */
